<div id="home" class="bg-brand-light font-body text-brand-dark">
<header class="bg-brand-primary text-white p-6 shadow-xs">
  <div class="relative flex h-12 items-center gap-4 px-4 py-2 md:h-20 md:py-6 md:pr-9 md:pl-6">
    <div class="flex items-center space-x-4">
      <img ngSrc="/logos/white-side.png" alt="Louise Wilkinson Nutrition Logo" class="h-60 w-auto object-contain min-w-[12rem]"
           height="1024" width="1024">
    </div>
    <nav class="space-x-4">
      <a routerLink="/" class="hover:underline">Home</a>
      <a href="#about" class="hover:underline">About</a>
      <a href="#services" class="hover:underline">Services</a>
      <a routerLink="/contact" class="hover:underline">Contact</a>
      <a routerLink="/faqs" class="hover:underline">FAQs</a>
    </nav>
  </div>
</header>

<!-- Routed content -->
<main>
  <router-outlet></router-outlet>
</main>

<footer class="bg-brand-secondary text-white px-4 sm:px-6 lg:px-12 xl:px-20 py-8 text-sm leading-relaxed">
  <!-- Accreditation block -->
 <!-- <div class="flex flex-col sm:flex-row sm:justify-between items-center gap-4 text-sm text-white mt-4 mb-4">
    <a href="https://www.bda.uk.com" target="_blank" rel="noopener" class="hover:underline">
      Member of the British Dietetic Association
    </a>
    <a href="https://www.hcpc-uk.org" target="_blank" rel="noopener" class="hover:underline">
      Fully registered with the Health and Care Professions Council (HCPC)
    </a>
  </div>-->
  <!-- Divider and contact section -->
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between pt-6 border-t border-white/20">
    <p class="text-xs text-brand-light/80">&copy; 2025 Louise Wilkinson Nutrition MSc BSc RD. All rights reserved.</p>
    <div class="flex space-x-4 mt-4 sm:mt-0 items-center">
      <a href="https://www.linkedin.com/in/louise-wilkinson-947828330" target="_blank" rel="noopener" aria-label="LinkedIn profile">
        <svg class="w-5 h-5 fill-white hover:fill-brand-accent transition-colors" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M4.98 3.5c0 1.38-1.11 2.5-2.48 2.5S0 4.88 0 3.5 1.11 1 2.48 1 4.98 2.12 4.98 3.5zM.47 24h4.94V7.98H.47V24zM7.06 7.98v16.02h4.94v-8.56c0-2.28.82-3.84 2.87-3.84 1.57 0 2.5 1.06 2.5 2.62v9.78h4.94v-10.5c0-4.38-2.34-6.42-5.46-6.42-2.5 0-3.62 1.38-4.23 2.34h-.07v-2.02H7.06z"/>
        </svg>
      </a>
      <a href="mailto:louisem.cooper@yahoo.com" class="hover:underline text-white text-xs">
        louisem.cooper&#64;yahoo.com
      </a>
      <a routerLink="/privacy-policy" class="hover:underline text-white text-xs">
        Privacy Policy
      </a>
    </div>
  </div>
</footer>

</div>
