/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-brand-primary: #7BAFD4;
  --color-brand-secondary: #2F4F6F;
  --color-brand-accent: #A9D3C1;
  --color-brand-light: #F9F7F2;
  --color-brand-dark: #4B4B4B;
  --font-heading: "Merriweather", "serif";
  --font-body: "Lato", "sans-serif";
}

/*.theme-purple {*/
/*  @theme {*/
/*    --color-brand-primary: #9D6BA0;*/
/*    --color-brand-secondary: #5A3F60;*/
/*    --color-brand-accent: #6DA88D;*/
/*    --color-brand-light: #F8F5F2;*/
/*    --color-brand-dark: #3A3A3A;*/
/*    --font-heading: "Merriweather", "serif";*/
/*    --font-body: "Lato", "sans-serif";*/
/*  }*/
/*}*/

/*.theme-green {*/
/*  @theme {*/
/*    --color-brand-primary: #4B6C5A;*/
/*    --color-brand-secondary: #2F4036;*/
/*    --color-brand-accent: #739C7E;*/
/*    --color-brand-light: #F9F7F2;*/
/*    --color-brand-dark: #3A3A3A;*/
/*    --font-heading: "Merriweather", "serif";*/
/*    --font-body: "Lato", "sans-serif";*/
/*  }*/
/*}*/


/*
!* Serif part (Louise Wilkinson) *!
font-family: 'Playfair Display', serif;
font-weight: 700;

!* Sans-serif part (NUTRITION) *!
font-family: 'Montserrat', sans-serif;
font-weight: 600;
letter-spacing: 0.1em;
text-transform: uppercase;*/
